{% extends 'base.html' %}

{% block title %}Retrospectiva Sprint{% endblock %}
{% block body %}

<a href="{{ url_for('eventos.index') }}" class="botão" style="margin-left:6%;">Sprint</a>
<a href="{{ url_for('eventos.reuniao_diaria') }}" class="botão">Reunião diária</a>
<a href="{{ url_for('eventos.execucao_sprint') }}" class="botão">Execução</a>
<a href="{{ url_for('eventos.revisao_sprint') }}" class="botão">Revisão</a>
<a href="{{ url_for('eventos.retrospectiva_sprint') }}" class="botão">Retrospectiva</a>

<h1 class="nav_botão">Retrospectiva da Sprint</h1>
<p class="extra"></p>

<p class="subtitulo">
    Seu objetivo principal é permitir que a equipe de desenvolvimento reflita sobre o próprio processo 
    de trabalho e identifique maneiras de melhorar. A retrospectiva é uma oportunidade para a equipe
     revisar o que funcionou bem, o que não funcionou e quais ações podem ser tomadas para otimizar 
     o processo na próxima Sprint.

</p>

<h2 class="sub_botão" style="margin-bottom: 2%;">como realizar uma retrospectiva da sprint</h2>

<p class="subtitulo">
    Também presencialmente ou em plataformas de comunicação, a equipe deve se reunir para discutir os 
    pontos fortes e fracos ao longo da Sprint, definir medidas para melhorias, eleger um destaque, ou seja,
     o integrante da equipe que mais foi eficiente e planejar a próxima Sprint.

</p>]
{% endblock %}