{% extends 'base.html' %}

{% block title %}Artefatos | Backlog Sprint{% endblock %}
{% block body %}

<a href="{{ url_for('artefatos.index') }}" class="botão" style="margin-left: 22% ;">Backlog do Produto</a>
<a href="{{ url_for('artefatos.backlog_sprint') }}" class="botão">Backlog da Sprint</a>
<a href="{{ url_for('artefatos.entrega_sprint') }}" class="botão">Entrega da Sprint</a>

<p class="Oq" style="margin: 3% 5%; ">
    É a lista de tarefas específicas e detalhadas selecionadas a partir do backlog do produto escolhidas para apenas uma sprint específica. Cada tarefa é selecionada com base na prioridade e na capacidade da equipe.
</p>

{% endblock %}