{% extends 'base.html' %}

{% block title %}Artefatos | Backlog Sprint{% endblock %}
{% block body %}

<a href="{{ url_for('artefatos.index') }}" class="botão" style="margin-left: 22% ;">Backlog do Produto</a>
<a href="{{ url_for('artefatos.backlog_sprint') }}" class="botão">Backlog da Sprint</a>
<a href="{{ url_for('artefatos.entrega_sprint') }}" class="botão">Entrega da Sprint</a>

<h1 class="nav_botão">Backlog do Produto</h1>
<p class="extra"></p>

<p class="subtitulo">Um Backlog do Produto é uma lista prioritizada de todas as funcionalidades, requisitos, 
    melhorias e tarefas que podem ser incluídas no desenvolvimento de um produto ou projeto.</p>

<h2 class="sub_botão" style="margin-bottom:2%;" >Como elaborar a Backlog do Produto</h2>
<p class="subtitulo">
    Em uma plataforma de organização, listas ou planilha, ordene as etapas de produção
    dos elementos do produto de acordo com a prioridade, responsável por realizá-las,
    categoria, Sprint e desejos do cliente (user stories).
</p>
<img src="{{ url_for('static', filename='/imagens/BP.png') }}" alt="Backlog do Produto" style="margin: 0% 20%;">

{% endblock %}