{% extends 'base.html' %}

{% block title %}Artefatos | Backlog Sprint{% endblock %}
{% block body %}

<a href="{{ url_for('artefatos.index') }}" class="botão" style="margin-left: 22% ;">Backlog do Produto</a>
<a href="{{ url_for('artefatos.backlog_sprint') }}" class="botão">Backlog da Sprint</a>
<a href="{{ url_for('artefatos.entrega_sprint') }}" class="botão">Entrega da Sprint</a>

<h1 class="nav_botão"> O que é Backlog da Sprint?</h1>

<p class="extra"></p>

<p class="subtitulo"> Uma "Backlog de Sprint" é uma lista de tarefas ou itens específicos que uma equipe de desenvolvimento planeja concluir 
    durante uma Sprint em uma metodologia ágil, como o Scrum. Ela é uma parte do Backlog do Produto, que é uma lista mais
     ampla de todas as funcionalidades, requisitos, tarefas e melhorias que podem ser incluídas no produto em desenvolvimento.</p>

<h2 class="sub_botão" style="margin-bottom: 2%;"> Como elaborar uma Backlog de Sprint</h2>

<p class="subtitulo">
    É a lista de tarefas específicas e detalhadas selecionadas a partir do backlog do produto escolhidas para apenas
    uma sprint específica. Cada tarefa deve ser selecionada com base na prioridade e na capacidade da equipe. Deve ser realizada
    do mesmo modo que a backlog do produto, porém com enfoque nas tarefas que devem ser realizadas na Sprint atual.
</p>

{% endblock %}