{% extends 'base.html' %}

{% block title %}Artefatos | Entrega Sprint{% endblock %}
{% block body %}

<a href="{{ url_for('artefatos.index') }}" class="botão" style="margin-left: 22% ;">Backlog do Produto</a>
<a href="{{ url_for('artefatos.backlog_sprint') }}" class="botão">Backlog da Sprint</a>
<a href="{{ url_for('artefatos.entrega_sprint') }}" class="botão">Entrega da Sprint</a>


<h1 class="nav_botão"> Entrega da Sprint</h1>
<p class="extra"></p>

<p class="subtitulo">
    É o momento em que a equipe de desenvolvimento exibe o progresso feito durante a sprint, o que permite a avaliação,
    ajustes e colaboração contínua no desenvolvimento do produto.
</p>

<p class="subtitulo">
    Durante a entrega de uma Sprint, a equipe de desenvolvimento demonstra o trabalho concluído durante a iteração
    para o Product Owner e outras partes interessadas. A entrega de uma Sprint é geralmente dividida em duas cerimônias 
    principais: a Revisão da Sprint e a Retrospectiva da Sprint.
</p>

<h2 class="sub_botão" style="margin-bottom:2%;"> Como é feita a Entrega</h2>

<p class="subtitulo">Em resumo, a entrega de uma Sprint é o momento em que a equipe de desenvolvimento apresenta
    o trabalho concluído, obtém feedback do Product Owner e partes interessadas, atualiza o Backlog do Produto conforme 
    necessário e realiza uma retrospectiva para melhorar continuamente o processo. </p>

<p class="subtitulo"> Para realizar uma boa entrega é ideal que seja elaborada uma apresentação, já que a entrega deve exibir os resultados obtidos
    (avanços do produto) na Sprint.</p>


{% endblock %}