{% extends 'base.html' %}

{% block title %}Equipe Scrum | Dev Team{% endblock %}
{% block body %}

<a href="{{ url_for('equipe_scrum.scrum_master') }}" class="botão" style="margin-left: 22% ;">Scrum Master</a>
<a href="{{ url_for('equipe_scrum.product_owner') }}" class="botão">Product Owner</a>
<a href="{{ url_for('equipe_scrum.index') }}" class="botão">Developer</a>

<!---------------------------------------------------O que é Developer------------------------------------------------>
<nav>
    <a href="#" class="nav_botão">O que são os Developers?</a>
</nav>
<p class="extra"></p>
<p class="subtitulo" >
    A equipe de desenvolvimento é responsável por criar o produto ou entregar o projeto. Eles são especialistas em diversas áreas, como programação, 
    design e testes, e trabalham juntos para transformar as necessidades do cliente em incrementos funcionais do produto, isto é, entregar a cada
     sprint a parte mais funcional do produto até o fim da entrega final. Por tanto essa parte da equipe é o time que constrói efetivamente o que 
     foi planejado, transformando as ideias em realidade.
</p>

<p class="subtitulo"> Para um bom desempenho, os integrantes do dev Team devem distribuir entre si as tarefas indicadas na backlog e entregá-las de 
    acordo com o prazo, devendo diariamente relatar o seu progresso ao Scrum Master e conscientizá-lo de possíveis complicações.</p>
<!----------------------------------------------------------------------------------------------------------------------->

<!----------------------------------------------Principais Responsabilidades--------------------------------------------->
<nav>
    <a href="#" class="sub_botão">Principais Responsabilidades</a>
</nav>
<img src="{{ url_for('static', filename='/imagens/RespD.png') }}" alt="Principais Responsabilidades" style="margin: 3% 24% 0%;">
<!----------------------------------------------------------------------------------------------------------------------->

<!-------------------------------------------------Sobre o Time Scrum-------------------------------------------------->
<nav>
    <a href="#" class="sub_botão">Sobre o Time Scrum</a>
</nav>
<img src="{{ url_for('static', filename='/imagens/SobreD.png') }}" alt="Sobre O Scrum Master" style="margin: 3% 24% ;">
<!----------------------------------------------------------------------------------------------------------------------->

{% endblock %}