{% extends 'base.html' %}

{% block title %}Equipe Scrum | Scrum Master{% endblock %}
{% block body %}

<a href="{{ url_for('equipe_scrum.scrum_master') }}" class="botão" style="margin-left: 22% ;">Scrum Master</a>
<a href="{{ url_for('equipe_scrum.product_owner') }}" class="botão">Product Owner</a>
<a href="{{ url_for('equipe_scrum.index') }}" class="botão">Developer</a>

<!---------------------------------------------------O que é Scrum Master------------------------------------------------>
<nav>
    <a href="#" class="sub_botão" style="margin-left: 42.5% ;">O que é Scrum Master?</a>
</nav>
<p class="Oq">
Ele é um facilitador e líder da equipe, ajudando assim a seguir o método, Eles removem obstáculos, garantem que a equipe siga as regras do Scrum e promovem uma melhoria contínua.
</p>
<p class="Oq" style="font-size: 15px; margin: 2% 20% 0%;">
“Enquanto o Product Owner está focado em construir o produto correto e a equipe de desenvolvimento está focada em produzir corretamente o produto, e o Scrum Master é o cara que ajuda todos a compreender os valores, princípios e práticas do Scrum. “
</p>
<p class="Oq" style="margin: 2% 20%; font-size: 20px;">Dia a Dia de um Scrum Master</p>
<img src="{{ url_for('static', filename='/imagens/OqSM.png') }}" alt="Dia a Dia de um Scrum Master" style="float: left; margin: 0% 20%;">
<!----------------------------------------------------------------------------------------------------------------------->

<!----------------------------------------------Principais Responsabilidades--------------------------------------------->
<nav>
    <a href="#" class="sub_botão" style="margin-left: 42.5% ; margin-top: 5%;">Principais Responsabilidades</a>
</nav>
<img src="{{ url_for('static', filename='/imagens/RespSM.png') }}" alt="Principais Responsabilidades" style="margin: 0% 20% 3%;">
<!----------------------------------------------------------------------------------------------------------------------->

<!-------------------------------------------------Sobre o Scrum Master-------------------------------------------------->
<nav>
    <a href="#" class="sub_botão" style="margin-left: 42.5% ; margin-top: 5%;">Sobre o Scrum Master</a>
</nav>
<img src="{{ url_for('static', filename='/imagens/SobreSM.png') }}" alt="Sobre O Scrum Master" style="margin: 3% 20% ;">
<!----------------------------------------------------------------------------------------------------------------------->

{% endblock %}