@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
}

body{
    min-width: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
}

.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    padding: 25px 100px;
    background: #DEEBF3;
    box-shadow: 0px 3px 8px rgb(178, 178, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: recursive;
}

.cabecalho-menu{
    display: flex;
    gap: 20px;
}

.menu {
    color: #264466;
    font-size: 19px;
    text-decoration: none;
}