body {
  background-color: white;   
}

.botão{  

border-radius: 23px;
background: #BCCFDE;

align-items: center;
flex-direction: row;
justify-content: space-around;

float: left;
margin-top: 10%;
margin-right: 25px;
display: flex;
width: 250px;
height: 50px;

flex-shrink: 0;
text-decoration: none;
color: #65839D;
text-align: center;
font-family: 'Recursive';
font-size: 20px;
font-weight: 700;
line-height: normal;

opacity: 1;
cursor: pointer;

}

.botão:hover{opacity: 0.6;}


.sub_botão{
background: #DEEBF3;

align-items: center;
flex-direction: row;
justify-content: space-around;

float: left;
margin: center;
margin-top: 30px;
display: flex;

width: 100%;
height: 50px;

flex-shrink: 0;
text-decoration: none;
color: #65839D;
text-align: center;
font-family: 'Recursive';
font-size: 18px;
font-weight: 700;
line-height: normal;

}

.nav_botão{
background: translucid;

align-items: center;
flex-direction: row;
justify-content: space-around;

float: left;
margin: center;
margin-top: 33px;
display: flex;

width: 100%;
height: 70px;

flex-shrink: 0;
text-decoration: none;
color: #264466;
text-align: center;
font-family: 'Recursive';
font-size: 40px;
font-weight: 700;
line-height: normal;

}

.Oq{

float: left;
padding: 0%;

margin-left: 10%;
margin-right: 10%;
margin-top: 3%;

text-decoration: none;
text-align: center;
font-family: 'Recursive';
font-size: 18px;
}

.conteudo{
  float: center;
  padding: 4%;
  background: #DEEBF3;
  color: #264466;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;

  text-decoration: none;
  text-align: justify;

  font-family: recursive;
  font-size: 18px;
  font-weight: 500px;
  
}

.titulo {
  font-family: recursive;
  float: center;
  padding: 0%;
  color: #264466;
  font-size: 40px;
  font-weight: 500px;
  margin-left: 13%;
  margin-right: 10%;
  margin-top: 10%;
}

.subtitulo{
  float: center;
  padding: 0%;
  color: #264466;
  font-size: 18px;
  font-family:recursive;
  font-weight: 400px;
  margin-left: 13%;
  margin-right: 10%;
  margin-top: 1%;
}

.extra{
  padding: 7.5%;
  background: #DEEBF3;
  color: #264466;
}

.topico{
float: center;
padding: 0%;
color: #264466;
font-size: 22px;
font-family:recursive;
font-weight: 400px;
margin-left: 13%;
margin-right: 10%;
margin-top: 1%;
}

.dropdown-icon {
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.modal_titulo {
  color: #264466;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
}
