@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
}

body{
    font-size: 100%;
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Recursive';
    padding: 10px;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
}

.menu {
    color: #264466;
    font-size: 18px;
    text-decoration: none;
}