{% extends 'base.html' %}

{% block title %}Avaliação{% endblock %}

{% block body %}
<div class="conteudo">  
  <div class="my-5">
    <p class="my-4">O formulário abaixo é uma ferramenta para a autoavaliação do comportamento dos integrantes da equipe ao longo da Sprint, proporcionando um melhor entendimento sobre os pontos fortes de cada um e auxiliando na implantação das medidas necessárias para obter melhorias.</p>
    <h5 class="my-4">A avalização possui 4 critérios principais: </h5>
    <ul class="my-4">
      <li>Proatividade: o integrante foca nas tarefas mais importantes, não procrastina para realizá-las e é eficiente.</li>
      <li>Autonomia: o integrante assume as responsabilidades, sabe o que fazer e quando.</li>
      <li>Colaboração: o indivíduo é complacente com o trabalho em equipe, auxiliando nas tomadas de decisões e comunicações com os demais.</li>
      <li>Entrega de Resultados: o integrante entregou tudo o que foi proposto dentro do prazo estipulado e sem erros.</li>
    </ul>
    <h6 class="my-4">Deve-se atribuir uma nota de 0 a 3 para cada um desses critérios, sendo 0 quando o integrante não conseguiu apresentar/desenvolver nenhuma dessas características, e 3 quando esse atingiu perfeitamente os critérios listados. </h6>
  </div>

    <form action="" onsubmit="mostrarNotasFinaisEquipe(event)" class="mt-5">
        <div id="formulario_pacer" class="gap-5">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-text">Product Owner</span>
                    <input type="text" class="form-control" id="name_Po" placeholder="Nome do Product Owner" aria-label="Po" aria-describedby="name_Po" required>
                    <button type="button" class="btn btn_dropdown p-0" onclick="mostrarPacerIndividual('po_pacer')">
                      <div class="input-group-text">
                        <i class="dropdown-icon mdi mdi-menu-down" id="dropdown-icon-po_pacer"></i>
                      </div>
                    </button>
                </div>
                  {{ po_pacer | safe }}
            </div>
    
            <div class="row">
                <div class="input-group">
                    <span class="input-group-text">Scrum Master</span>
                    <input type="text" class="form-control" id="name_Sm" placeholder="Nome do Scrum Master" aria-label="Sm" aria-describedby="name_Sm" required>
                    <button type="button" class="btn btn_dropdown p-0" onclick="mostrarPacerIndividual('sm_pacer')">
                      <div class="input-group-text">
                        <i class="dropdown-icon mdi mdi-menu-down" id="dropdown-icon-sm_pacer"></i>
                      </div>
                    </button>
                </div>
                {{ sm_pacer | safe }}
            </div>
    
          <div class="row">
                <div class="input-group" id="name_Dev1">
                  <span class="input-group-text">Dev 1</span>
                  <input type="text" class="form-control" id="name_Dev" placeholder="Nome do Desenvolvedor(a)" aria-label="Dev" aria-describedby="name_Dev" required>
                  <button type="button" class="btn p-0" onclick="adicionarDev()"><i class="input-group-text dropdown-icon mdi mdi-plus"></i></button>
                  <button type="button" class="btn btn_dropdown p-0" onclick="mostrarPacerIndividual(`dev{{devTeamCont}}_pacer`)">
                    <div class="input-group-text">
                      <i class="dropdown-icon mdi mdi-menu-down" id="dropdown-icon-dev{{devTeamCont}}_pacer"></i>
                    </div>
                  </button>
                </div>
    
                {{ dev_pacer | safe }}
          </div>
        </div>
      
      <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="rounded-3 py-1 px-2 btn-secondary" data-open-modal>Mostrar Resultados</button>
      </div>
    </form>

    <dialog id="customModal" class="w-25 m-auto border-0 shadow-lg rounded-2 p-3">
        <div class="d-flex justify-content-between p-3">
          <h1 class="modal_titulo fs-5">Notas Finais da Equipe:</h1>
          <button type="button" onclick="fecharModal()" class="btn-close"></button>
        </div>
        <div class="p-3" id="modal-body"></div>
        <div class="d-flex p-1 justify-content-end">
          <button type="button" class="btn btn-secondary" onclick="fecharModal()">Fechar</button>
        </div>
    </dialog>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/pacer.js') }}"></script>
<script>
function adicionarDev() {
  devTeamCont++;

  const novaRow = document.createElement('div');
  novaRow.classList.add('row');
  novaRow.id = `devPacer${devTeamCont}`;

  const novoDev = document.createElement('div');
  novoDev.classList.add('input-group');
  novoDev.id = `dev-${devTeamCont}`
  novoDev.innerHTML = `
      <span class="input-group-text">Dev ${devTeamCont}</span>
      <input type="text" class="form-control" id="name_Dev${devTeamCont}" placeholder="Nome do Desenvolvedor(a)" aria-label="Dev" aria-describedby="name_Dev" required>
      <button type="button" class="btn p-0" onclick="adicionarDev()"><i class="input-group-text dropdown-icon mdi mdi-plus"></i></button>
      <button class="btn p-0" onclick="removerDev('devPacer${devTeamCont}')"><i class="input-group-text dropdown-icon mdi mdi-trash-can"></i></button>
      <button type="button" class="btn p-0" onclick="mostrarPacerIndividual('dev${devTeamCont}_pacer')"><div class="input-group-text"><i class="dropdown-icon mdi mdi-menu-down" id="dropdown-icon-dev${devTeamCont}_pacer"></i></div></button>`;
      
  const novoPacerDev = document.createElement('div');
  novoPacerDev.id = `dev${devTeamCont}_pacer`
  novoPacerDev.style.display = 'block';
  novoPacerDev.innerHTML = `
          <table class="table table-bordered">
              <thead>
                  <tr>
                  <th scope="col">Requisito</th>
                  <th scope="col">Péssimo</th>
                  <th scope="col">Ruim</th>
                  <th scope="col">Bom</th>
                  <th scope="col">Excelente</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                  <th scope="row">Proatividade</th>
                  {% for i in range(4) %}
                  <td>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioProatividadeDev${devTeamCont}" id="inlineRadioProatividade{{i}}" value="{{notas[i]}}" checked>
                          <label class="form-check-label" for="inlineRadioProatividade{{i}}">{{i}}</label>
                      </div>
                  </td>
                  {% endfor %}
                  </tr>
                  <tr>
                  <th scope="row">Autonomia</th>
                  {% for i in range(4) %}
                  <td>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioAutonomiaDev${devTeamCont}" id="inlineRadioAutonomia{{i}}" value="{{notas[i]}}" checked>
                          <label class="form-check-label" for="inlineRadioAutonomia{{i}}">{{i}}</label>
                      </div>
                  </td>
                  {% endfor %}
                  </tr>
                  <tr>
                  <th scope="row">Colaboração</th>
                  {% for i in range(4) %}
                  <td>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioColaboracaoDev${devTeamCont}" id="inlineRadioColaboracao{{i}}" value="{{notas[i]}}" checked>
                          <label class="form-check-label" for="inlineRadioColaboracao{{i}}">{{i}}</label>
                      </div>
                  </td>
                  {% endfor %}
                  </tr>
                  <tr>
                  <th scope="row">Entrega</th>
                  {% for i in range(4) %}
                  <td>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioEntregaDev${devTeamCont}" id="inlineRadioEntrega{{i}}" value="{{notas[i]}}" checked>
                          <label class="form-check-label" for="inlineRadioEntrega{{i}}">{{i}}</label>
                      </div>
                  </td>
                  {% endfor %}
                  </tr>
              </tbody>
              </table>`;

  novaRow.appendChild(novoDev);
  novaRow.appendChild(novoPacerDev);
              
  document.getElementById('formulario_pacer').appendChild(novaRow);
};
</script>
{% endblock %}