<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cabecalho.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap">
    {% block head %}{% endblock %}
</head>

<header class="cabecalho" style="background-color: #DEEBF3;">
    <a href="{{ url_for('oqueescrum.index') }}">
        <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo">
    </a>
    <nav class="cabecalho-menu">
        <a class="menu" href="{{ url_for('oqueescrum.index') }}">O que é o Scrum?</a>
        <a class="menu" href="{{ url_for('equipe_scrum.index') }}">Equipe Scrum</a>
        <a class="menu" href="{{ url_for('artefatos.index') }}">Artefatos Scrum</a>
        <a class="menu" href="{{ url_for('eventos.index') }}">Eventos</a>
        <a class="menu" href="{{ url_for('comoaplicar.index') }}">Como aplicar</a>
        <a class="menu" href="{{ url_for('referencias.index') }}">Referências</a>
    </nav>
</header>

<body>
    {% block body %}{% endblock %}
</body>
</html>